body {
  font: 20px Arial, sans-serif;
}
.navbar {
  background-color: #99a1b8;
}
.quem-somos {
  background-color: #40b5f7;
  color: #fff;
}

.margin {
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 60px;
}

.parceiros {
  background-color: aliceblue;
}

.bg-footer {
  background-color: rgb(167, 167, 167);
}
